# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]


# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# DS Store
.DS_Store

# LaTeX
*.aux
*.out
*.synctex.gz
*.toc