# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.py[cod]


# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# DS Store
.DS_Store

# LaTeX
*.aux
*.out
*.synctex.gz
*.toc

# Directories
LaTeXandpdfs/*.log
T1000/DivisionalBoilerplate/DivisionalBoilerplate/static/css/bootstrap-grid*
T1000/DivisionalBoilerplate/DivisionalBoilerplate/static/css/bootstrap-reboot*
T1000/DivisionalBoilerplate/DivisionalBoilerplate/static/css/bootstrap.*
T1000/FunctionalBoilerplate/FunctionalBoilerplate/static/css/bootstrap.min*
