<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Functional Boilerplate Project name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home_bp.home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about_bp.about') }}">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown link</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{{ url_for('posts_bp.home') }}">Posts home</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
              <div class="dropdown-divider">Example (experimental) pages</div>
            <li><a class="dropdown-item" href="{{ url_for('examples_bp.html_page') }}">Example HTML page</a></li>
            <li><a class="dropdown-item" href="{{ url_for('examples_bp.form_example') }}">Form Example page</a></li>            
            <li><a class="dropdown-item" href="{{ url_for('examples_bp.all_users') }}">All Users example view page</a></li>
              <div class="dropdown-divider">Requests examples</div>
            <li><a class="dropdown-item" href="{{ url_for('examples_bp.html_search_input_user') }}">Request Search Input example (HTML5) and all links for requests</a></li>
          </ul><!--/dropdown-menu-->
        </li><!--/nav-item dropdown-->
      </ul><!--/navbar-nav...-->
      <ul class="nav navbar-nav pull-right">
        <li><a href="{{ url_for('form_bp.register') }}">Signup</a></li>
        <li><a href="{{ url_for('form_bp.login') }}">Login</a></li>
      </ul><!--/nav navbar-nav pull-right-->
    </div><!-- /.nav-collapse -->
  </div><!-- /container -->
</nav><!--navbar navbar-dark...-->
