{% extends "layouts/plain_base.html" %}
{% import 'pages/example_macros.html' as macros %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form class="form-inline" method="POST" action="{{ url_for('examples_bp.multiple_multiple_select') }}">


<select name="multiple_user_select" class="form-select" multiple size="20" aria-label="multiple select users">
  <option selected value="NoneSelected">Select 1 or more users</option>
  {% for user_uid in all_users_list %}
    <option value="{{ user_uid[1] }}">{{ user_uid[0] }}, {{ user_uid[1] }} </option>
  {% endfor %}  
</select>

  <input name="post_title_search" class="form-control mr-sm-2" type="search" placeholder="SearchPostTitle" aria-label="Search Post Title">

<button name="button_for_multiple_select" type="submit" class="btn btn-primary" value="button_value_for_multiple_select"> Press button for when ready</button>

</form>

<p>
{% if selected_user_ids %}
{{ macros.make_table(selected_user_ids[0], selected_user_ids[1]) }}
{% endif %}
</p>

<p>
{% if searched_posts %}
{{ macros.make_table(searched_posts[0], searched_posts[1]) }}
{% endif %}
</p>


{% endblock %}<!--/content-->