{% macro render_pagination(pagination, endpoint) %}
<nav aria-label="Page navigation example">
	<ul class="pagination">
	</ul><!--/pagination-->
</nav><!--/aria-label-->
{% endmacro %}<!--/render_pagination-->

{% macro render_posts(posts, pagination=True) %}
{% if pagination %}
    {% set _posts = posts.items %}
{% else %}
    {$ set _posts = posts %}
{% endif %}

{% for post in _posts %}
<div>
    <h1>
        <a class="text-dark" href="{{ url_for('posts_bp.home', post_id=post.id) }}">{{ post.title }}</a>
    </h1>
</div>
<div class="row">
    <div class="col">
        {{ post.text | truncate(500) | safe }}
        <a href="{{ url_for('posts_bp.home', post_id=post.id) }}">Read More</a>
    </div>
</div>
{% endfor %}
{% endmacro %}