{% macro make_table(columns_as_list, rows_as_dicts) %}

<table class="table table-striped">

  <thead>
    <tr>
      {% for col in columns_as_list %}
      <th><b>{{ col }}</b></th>
      {% endfor %}<!--/column_as_list-->
    </tr>
  </thead>
  <tfoot>
    <tr>
      {% for col in columns_as_list %}
      <th><b>{{ col }}</b></th>
      {% endfor %}<!--/column_as_list-->
    </tr>
  </tfoot>

  <tbody>
    {% for row_dict in rows_as_dicts %}
    <tr>
      {% for col in columns_as_list %}
      <th>{{ row_dict[col] }}</th>
      {% endfor %}
    </tr>
    {% endfor %}

  </tbody>
</table>
{% endmacro %}

{% macro make_table_with_table_name(columns_as_list, rows_as_dicts, table_name) %}

<table class="table table-striped" id="{{ table_name }}">

  <thead>
    <tr>
      {% for col in columns_as_list %}
      <th><b>{{ col }}</b></th>
      {% endfor %}<!--/column_as_list-->
    </tr>
  </thead>
  <tfoot>
    <tr>
      {% for col in columns_as_list %}
      <th><b>{{ col }}</b></th>
      {% endfor %}<!--/column_as_list-->
    </tr>
  </tfoot>

  <tbody>
    {% for row_dict in rows_as_dicts %}
    <tr>
      {% for col in columns_as_list %}
      <th>{{ row_dict[col] }}</th>
      {% endfor %}
    </tr>
    {% endfor %}

  </tbody>
</table>
<script>
$(document).ready(function() {
    $( {{ table_name }} ).DataTable();
});
</script>

{% endmacro %}



{% macro example_print_table() %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      {% for col in columns_as_list %}
      <th><b>{{ col }}</b></th>
      {% endfor %}<!--/column_as_list-->
    </tr>
  </tfoot>


  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
{% endmacro %}

<!--
{% if not table_id %}
<table class="table table-striped">
{% else %}
<table class="table table-striped" id="{{ table_id }}">
{% endif %}
-->