<!DOCTYPE html>
<html lang = "en">
<head>
<!--<meta charset = "UTF-8"> same as below. -->
<meta charset = "utf-8">
<title>My First Page</title>

<!-- No "visual" effect, just functionality -->
<script type="text/javascript" src="/static/js/libs/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/static/js/libs/bootstrap.bundle.min.js"></script>

<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>
<body>

	<h1> Hello World </h1>

<p>
This is a print out of a "jinja" variable(s) title: {{ title }} subtitle {{ subtitle }}
</p> 

<p>
<ul>
<li><a href="{{ url_for('examples_bp.html_page_inherited') }}">Next page: front page but with inheritance</a></li>
<li><a href="{{ url_for('examples_bp.form_example') }}">Form example 1 with class based view from Flask</a>
<li><a href="{{ url_for('examples_bp.html_datatables') }}">DataTables examples</a>
</ul>
</p>

</body>
</html>
